@model LandingPage.ViewModels.Subscriptions.SubscriptionViewModel
@{
    ViewData["Title"] = "Subscriptions Management Page";
}

@if (ViewBag.Message != null)
{
    <h2>@ViewBag.Message</h2>
}
else
{
    <div class="main-content text-center">


        <h3>Manage Subscription</h3>
        
        <table class="main-table">
            <thead><tr><th>Item</th><th>Value</th></tr></thead>
            <tbody>
                <tr><td>Name</td><td>@Model.Subscription.Name</td></tr>
                <tr><td>SaasSubscriptionStatus</td><td>@Model.Subscription.SaasSubscriptionStatus.Value</td></tr>
                


            </tbody>
        </table>



    </div>
}