@model LandingPage.ViewModels.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <table class="main-table">
        <thead>
        <tr>
            <th>Item</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var claim in @Model.UserClaims)
            {
                <tr><td class="main-td">Claim</td><td>@claim.Value</td></tr>
            }


        </tbody>
    </table>"


</div>
