@using Microsoft.Marketplace.SaaS.Models;
@model PublisherPortal.ViewModels.Meters.IndexViewModel;

@{
    ViewData["Title"] = "Subscriptions Management";
}

<h1>Manage Meters Manually</h1>

<p>Use this page to manually invoke a metered billing event.</p>

<h3>Subscription: @Model?.Subscription.Name</h3>


<table class="main-table table-striped">

    <thead>
    <tr>
        <th>Plan Name</th>
        <th>Meter Name</th>
        <th>Meter ID</th>
        <th>Price Per Unit</th>
        <th>Quantity</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var plan in Model?.Plans!)
{
    
        @if (plan.PlanComponents.MeteringDimensions.Count > 0)
        {
            <tr><td colspan="5">@plan.DisplayName</td></tr>

            @foreach (var dimension in plan.PlanComponents.MeteringDimensions)
            {
                    
                <tr>
                    <td></td>
                    <td>@dimension.DisplayName</td>
                    <td>@dimension.Id</td>
                    <td style="text-align: center;">@dimension.PricePerUnit</td>
                    <td><input type="text" size="4" /></td>
                    <td><input type="button" value="Submit" /></td>
                </tr>

            }

        }
    }
    </tbody>
</table>
