@model PublisherPortal.ViewModels.Meters.InvokeMeterViewModel

<h1>Meter Invoked</h1>

<table>
    <tr><td>Subscription Id</td><td>@Model!.SubscriptionId.ToString()</td></tr>
    <tr><td>Dimension Id</td><td>@Model!.DimensionId</td></tr>
    <tr><td>Plan Id</td><td>@Model!.PlanId</td></tr>
    <tr><td>Quantity</td><td>@Model!.Quantity</td></tr>
</table>